<div class="row">
    <div id="login" class="col s6 offset-s3">
        <form method="POST" action="/auth/newpassword">

            <h1>Change password</h1>

            {{#if error}}
                <p class='alertError'>{{error}}</p>
            {{/if}}

            <div class="input-field">
                <input id="password" name="password" type="password" class ="validate" required>
                <label for="password">New password</label>
                <span class="helper-text" data-error="Add password"></span>
            </div>

            <div class="input-field">
                <input id="confirm" name="confirm" type="password" class ="validate" required>
                <label for="confirm">Repeat password</label>
                <span class="helper-text" data-error="Confirm your password"></span>
            </div>

            <input type="hidden" name="_csrf" value="{{csurf}}">
            <input type="hidden" name="userId" value="{{userId}}">
            <input type="hidden" name="token" value="{{token}}">

            <br><button class="btn btn-primary">Confirm</button>

        </form>
    </div>
</div>
