
<div class="row">
    <div id="login" class="col s6 offset-s3">
        <form method="POST" action="/auth/reset">

            <h1>Reset password</h1>

            {{#if error}}
                <p class='alertError'>{{error}}</p>
            {{/if}}

            <div class="input-field">
                <input id="email" name="email" type="text" class ="validate" required>
                <label for="email">Email</label>
                <span class="helper-text" data-error="Add email"></span>
            </div>

            <input type="hidden" name="_csrf" value="{{csurf}}">

            <br><button class="btn btn-primary">Reset</button>

        </form>
    </div>
</div>
