
{{> head }} <!-- Знах в КЛЮЧОВІЙ папці partials || Програма сама розуміє де вони знаходяться, по назві папки -->
<body>

{{{ body }}} <!-- Данні які прийдуть з course.hbs (У випадку відкриття сторінки курсу) -->

{{> footer }}
</body>
</html>