
{{> head }} <!-- "Паршал" (Зберігається в ключовій папці partials, в документі head.hbs), призначений для зберігання деяких частин коду в окремих файлах -->
<body>
    
    {{> navbar}}
    <div class="container">
         {{{ body }}} <!-- Тіло в якому будуть рендеретись наші данні з тега body html сторінок PS. Весь ДОМ крім контенту в html сторінках можна (бажано) видалити та залишити тільки сам контент -->
    </div>
   
{{> footer }} <!-- Ще один паршал (в ньому підключили скрипт для css фреймворку (для кращого вигляду нашої сторінки)) -->
</body>
</html>