.nav-wrapper 
{
    padding: 0 2rem;
}

.price {
    font-size: 2rem;
}

.course {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course h1 {
    margin-bottom: 2rem;
}

.course img {
    max-width: 600px;
    height: auto;
}

.course .price.big {
    font-size: 2.5rem;
}

.card-action.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.edit-form {
    margin-bottom: 2rem;
}

.row {
    padding-top: 1rem;
}

.alertError {
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    background: rgba(255, 0, 0, 0.2);
    color: red;
}
.avatarProfile {
    height: 310px;
    width: auto;
}